[submodule "THRYLOS/ThrylosEngine/3rd/spdlog"]
	path = THRYLOS/ThrylosEngine/3rd/spdlog
	url = https://github.com/gabime/spdlog
[submodule "THRYLOS/ThrylosEngine/3rd/glfw"]
	path = THRYLOS/ThrylosEngine/3rd/glfw
	url = https://github.com/glfw/glfw
[submodule "THRYLOS/ThrylosEngine/3rd/imgui"]
	path = THRYLOS/ThrylosEngine/3rd/imgui
	url = https://github.com/ocornut/imgui
[submodule "THRYLOS/ThrylosEngine/3rd/glm"]
	path = THRYLOS/ThrylosEngine/3rd/glm
	url = https://github.com/g-truc/glm
